stages:
- name: Test PackageGenerator
- name: Run Tests
- name: Build & Post on GitHub
  if: branch = master
jobs:
  include:
  - stage: Test PackageGenerator
    language: php
    php: '7.3'
    os: linux
    before_script:
    - cd package
    - composer install
    script:
    - vendor/bin/phpunit --configuration ../tests/phpunit/phpunit.xml
  - stage: Test PackageGenerator
    language: node_js
    node_js: '9'
    before_script:
    - cd tests/jasmine
    - yarn install
    - yarn global add grunt-cli
    script:
    - grunt test-js
  - stage: Run Tests
    language: php
    php: '7.3'
    services:
    - docker
    env:
    - SUGAR_VERSION=10.1 SUGAR_EDITION=Ent
    before_script:
    - cd package
    - composer install
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S')"
    - cd ../scripts
    - sudo service mysql stop
    script:
    - "./SetupEnvAndRunTests.sh $SUGARCLUB_USERNAME $SUGARCLUB_PASSWORD $SUGAR_VERSION
      $SUGAR_EDITION $GITHUB_USERNAME $GITHUB_PASSWORD workspace/sugardocker"
  - stage: Run Tests
    language: php
    php: '7.3'
    services:
    - docker
    env:
    - SUGAR_VERSION=10.1 SUGAR_EDITION=Pro
    before_script:
    - cd package
    - composer install
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S')"
    - cd ../scripts
    - sudo service mysql stop
    script:
    - "./SetupEnvAndRunTests.sh $SUGARCLUB_USERNAME $SUGARCLUB_PASSWORD $SUGAR_VERSION
      $SUGAR_EDITION $GITHUB_USERNAME $GITHUB_PASSWORD workspace/sugardocker"
  - stage: Build & Post on GitHub
    language: php
    php: '7.3'
    before_script:
    - cd package
    - composer install
    script:
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S')"
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S') -w 40"
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S') -p"
    before_deploy: git tag "$(date +'%Y%m%d-%H.%M.%S')-$(git log --format=%h -1)"
    deploy:
      provider: releases
      api_key:
        secure: g7rSPc/6JshbI/tkQG0jTIUaVGh0TjtNfPC5qTs6GK5e2Kg4qHHVkXxJ1B2btlJoRmgRsCn5eY17gbjQC7OMxbl2t47Niy18E6eHIFjsAdNRL4eB1yR+hYOpGrzq9ediOJMj+QMSZzjyYllAIMZ2FwMiE6K95WLzz+QxFFe9zaoDski5B1ttveljk/5e/9CxOQn/TptRgf35as5+DtqbNk1Bn5Y59dDTHGqVAHH87Hkf+uQLUv9SABW+Q0f3ntBCf7P/p3/Yq0K+/FF39+qxdDtHwxTMORlybBS6F+B7yUekyI7RywMsP46VH0r0jHyvOp+zy8i7F2oLn7qIF7pgwQbLoZP12nRI68Bpa6rCg1mx6UUge3Kt51PkY09vpP4x2Tx3xlRV/PTtbfWOiHrX1DxW703/ZzN5kjhr0G6HTMcZXP1Npcws1s1ya6c/5rNr7L4kpwyqTjrEEKoXRsz9usvaroR0m0qVAoeSIs09+vFvkAkyXM7w8+eUiXIXdlic9wA6/xyELN0B6szOjy3SGO0CUaVH9RjkB0v4nF04I9FcUG4eHandCDs6sZFqf+0KgCoMFXK7lhfkNrI+14Re3z3BRt+209nT+kKZ1WGV/31Sc3lZJ08xubVasv9onMQ8EqKu3t3Ep/pNER0Z8Hr/fXJb9FKGAboJU35QW6jcDqg=
      file_glob: true
      file: releases/sugarcrm-ProfessorM-*.zip
