stages:
- name: Test PackageGenerator
- name: Run PHPUnit
- name: Build & Post on GitHub
  if: branch = master
jobs:
  include:
  - stage: Test PackageGenerator
    language: php
    php: '7.1'
    os: linux
    before_script:
    - composer install
  - stage: Test PackageGenerator
    language: node_js
    node_js: '9'
    before_install:
    - yarn global add grunt-cli
  - stage: Run PHPUnit
    sudo: required
    language: php
    php: '7.1'
    services:
    - docker
    env:
    - SUGAR_VERSION=7.11 SUGAR_EDITION=Ent
    before_script:
    - composer install
    - cd package
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S')"
    - cd ../scripts
    - sudo service mysql stop
    script:
      - ./SetupEnvAndRunPHPUnitTests.sh $DEV_COMMUNITY_USERNAME $DEV_COMMUNITY_PASSWORD $SUGAR_VERSION $SUGAR_EDITION $GITHUB_USERNAME $GITHUB_PASSWORD workspace/sugardocker
  - stage: Run PHPUnit
    sudo: required
    language: php
    php: '7.1'
    services:
    - docker
    env:
    - SUGAR_VERSION=7.11 SUGAR_EDITION=Pro
    before_script:
    - composer install
    - cd package
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S')"
    - cd ../scripts
    - sudo service mysql stop
    script:
      - ./SetupEnvAndRunPHPUnitTests.sh $DEV_COMMUNITY_USERNAME $DEV_COMMUNITY_PASSWORD $SUGAR_VERSION $SUGAR_EDITION $GITHUB_USERNAME $GITHUB_PASSWORD workspace/sugardocker
  - stage: Run PHPUnit
    sudo: required
    language: php
    php: '7.1'
    services:
    - docker
    env:
    - SUGAR_VERSION=7.11 SUGAR_EDITION=Ult
    before_script:
    - composer install
    - cd package
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S')"
    - cd ../scripts
    - sudo service mysql stop
    script:
      - ./SetupEnvAndRunPHPUnitTests.sh $DEV_COMMUNITY_USERNAME $DEV_COMMUNITY_PASSWORD $SUGAR_VERSION $SUGAR_EDITION $GITHUB_USERNAME $GITHUB_PASSWORD workspace/sugardocker
  - stage: Build & Post on GitHub
    language: php
    php: '7.1'
    before_script:
    - composer install
    - cd package
    script:
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S')"
    - "./pack.php -v $(date +'%Y%m%d-%H.%M.%S') -w 40" #Using 40 as a typical path length. May not work for all Windows installations
    before_deploy: git tag "$(date +'%Y%m%d-%H.%M.%S')-$(git log --format=%h -1)"
    deploy:
      file_glob: true
      provider: releases
      file: releases/sugarcrm-ProfessorM-*.zip
      api_key:
        secure: wZjieCCyLewnTuR1vLjtVLp+ANtaq2ltP6kyiBcE33j2WyyWIiQqHtmjWAnnpq3Kkz64Pe1epfWuFJagXQyMvH9ACojmk0bZmbJjt293g7YWVVHOVco69Ti9+D4bTuHNeWIS31xbDTdzgiz/t9c2dVt8ISLFsIG7GJUsg3P+ye+GH/zbmPmrcmyMLnEtlymOSvbg1RiCQ9AJyUywLenes1Un/2nZuJpkZ76KwwnQNHH6xF1iIRtbR41/B1nRKiJgsArfz1FQp5sM6naOZiqnGejuQ8LswxYGbWZM27iJblW+NpTWJrvNswGEekEb63mVGIx3VJjEGKqkD1cjOYmaGG6nenSEI55r6BTEtoa9zV02pjQ8MMBaX5gPftvnmDrHGqwS7vtqM1YjJ8M0dWhkNqmz4fvss+IuPveaYNyHHeytQElhSuOoS0BAJsq7q3eZbK+Wj7Nd6qnXbJ6zJtuounljG9Kz9bmP82HUA04xn5lSpIIfi+KSb8CiQfzzRf2iws8wpfZ5fAU8OxImuEDaWRjH7473Uyr05Ai4v8d9gx9RmHhjJngOpjyJ4QekHRMmxO3m3msmhEkNjDq+9eM6pQDadwbnQtYTaTSyVXmq8UmV54sqhj8ZRskFmYlqEeM5b0qi+VujREykfnY4a5uJyxXOFLMlAP8HRUK3JGRX3kE=
      skip_cleanup: true
