<div class="student-vital-chart">
    <div class="sc-chart" data-content="chart">
        <svg id="{{cid}}"></svg>
    </div>
    <div class="block-footer hide" data-content="nodata">{{str "LBL_NO_DATA_AVAILABLE"}}</div>
</div>
