name: Professor M's School for Gifted Coders Github Actions

on: [push]

jobs:
  Test-PackageGenerator-PHP:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: package
    steps:
    - uses: actions/checkout@v2
    - name: Install PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.4
    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
    - name: Run test suite
      run: composer run-script test

  Test-PackageGenerator-NodeJS:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tests/jasmine
    strategy:
      matrix:
        node: [ '12', '14', '16' ]
    name: Testing Jasmin on Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install Packages
        run: yarn install
      - name: Run Tests
        run: yarn test

  Professor-M-Tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: package
    steps:
    - uses: actions/checkout@v2
    - name: Install PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.4
    - name: Cache Professor-M packages
      id: packages-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
    - name: Package Professor-M
      run: ./pack.php -v $(date +'%Y%m%d-%H.%M.%S')
    - uses: actions/upload-artifact@master
      with:
        name: professorM-artifact
        path: package/releases/

  Run-Tests-Enterprise:
    runs-on: ubuntu-latest
    needs: Professor-M-Tests
    defaults:
      run:
        working-directory: scripts
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@master
      with:
        name: professorM-artifact
        path: package/releases
    - name: Display structure of downloaded files
      run: ls -R
      working-directory: /home/runner/
    - name: Run test suite
      env:
        SUGAR_EDITION: Ent
        SUGAR_VERSION: 11.1
        SUGARCLUB_USERNAME: ${{ secrets.SUGARCLUB_USERNAME }}
        SUGARCLUB_PASSWORD: ${{ secrets.SUGARCLUB_PASSWORD }}
        GTB_USERNAME: ${{ secrets.GTB_USERNAME }}
        GTB_PASSWORD: ${{ secrets.GTB_PASSWORD }}
        SUGAR_LICENSE_KEY: ${{ secrets.SUGAR_ENTERPRISE_LICENSE_KEY }}
      run: |
        ./SetupEnvAndRunTests.sh $SUGARCLUB_USERNAME $SUGARCLUB_PASSWORD $SUGAR_VERSION $SUGAR_EDITION $GTB_USERNAME $GTB_PASSWORD workspace/sugardocker

  Run-Tests-Professional:
    runs-on: ubuntu-latest
    needs: Professor-M-Tests
    defaults:
      run:
        working-directory: scripts
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@master
      with:
        name: professorM-artifact
        path: package/releases
    - name: Display structure of downloaded files
      run: ls -R
      working-directory: /home/runner
    - name: Run test suite
      env:
        SUGAR_EDITION: Ent
        SUGAR_VERSION: 11.1
        SUGARCLUB_USERNAME: ${{ secrets.SUGARCLUB_USERNAME }}
        SUGARCLUB_PASSWORD: ${{ secrets.SUGARCLUB_PASSWORD }}
        GTB_USERNAME: ${{ secrets.GTB_USERNAME }}
        GTB_PASSWORD: ${{ secrets.GTB_PASSWORD }}
        SUGAR_LICENSE_KEY: ${{ secrets.SUGAR_PROFESSIONAL_LICENSE_KEY }}
      run: |
        ./SetupEnvAndRunTests.sh $SUGARCLUB_USERNAME $SUGARCLUB_PASSWORD $SUGAR_VERSION $SUGAR_EDITION $GTB_USERNAME $GTB_PASSWORD ~/sugardocker/
